<div>
    <br>
    <div class="row">
        <h2 style="text-align:center;" class="col s12">Inicia Sessió</h2>
        <h6 style="text-align:center;font-size:20px;" class="col s10 l6 offset-l3 offset-s1">Inicia sessió amb el teu compte de Google o registra't amb correu i contrasenya <b ng-if="mid=='afegir'"> per a afegir el teu cotxe</b><b ng-if="mid=='editar'||mid=='editar-publicacions'"> per a editar la teva publicació</b><b ng-if="mid=='contactar'"> per a contactar amb propietaris de cotxes</b></h6>
    </div>
    <div id="firebaseui-auth-container"></div>
    <p style="text-align:center;color:grey">Si inicies sessió amb l'adreça electònica, hauràs de verificar-la abans de poder publicar un cotxe o contactar amb un conductor.</p>
</div>
